### RHEL 9 Kickstart Configuration
#version=RHEL9
### Set language, keyboard and timezone
lang en_US.UTF-8
keyboard --xlayouts='us'
timezone America/Indiana/Indianapolis --utc
### Add kdump Config
%addon com_redhat_kdump --enable --reserve-mb='auto'
%end
### Lock root user
rootpw --lock
### Create Ansible user for post provisioning processes
user --name=${ssh_user}
sshkey --username=${ssh_user} "${build_key}"
### Text Install
text
### Only Use SDA
ignoredisk --only-use=sda
### System Bootloader Configuration
bootloader --append="crashkernel=1G-4G:192M,4G-64G:256M,64G-:512M" --location=mbr --boot-drive=sda
### Partition Clearing Information
clearpart --none --initlabel
### Create primary system partitions.
### Modify partition sizes for the virtual machine hardware.
part /boot --fstype="xfs" --ondisk=sda --size=1024
part /boot/efi --fstype="efi" --ondisk=sda --size=512 --fsoptions="umask=0077,shortname=winnt"
part pv.0 --fstype="lvmpv" --ondisk=sda --size=18432
### Create a logical volume management (LVM) group.
volgroup vgroot --pesize=4096 pv.0
### Modify logical volume sizes for the virtual machine hardware.
logvol / --fstype="ext4" --size=4096 --name=lvroot --vgname=vgroot --label=ROOTFS
logvol swap --fstype="swap" --size=1024 --name=lvswap --vgname=vgroot --label=SWAPFS
logvol /home --fstype="ext4" --size=2048 --name=lvhome --vgname=vgroot --label=HOMEFS --fsoptions="nodev,nosuid"
logvol /tmp --fstype="ext4" --size=2048 --name=lvtmp --vgname=vgroot --label=TMPFS --fsoptions="nodev,noexec,nosuid"
logvol /opt --fstype="ext4" --size=1024 --name=lvopt --vgname=vgroot --label=OPTFS --fsoptions="nodev"
logvol /var --fstype="ext4" --size=2048 --name=lvvar --vgname=vgroot --label=VARFS --fsoptions="nodev"
logvol /var/log --fstype="ext4" --size=2048 --name=lvvarlog --vgname=vgroot --label=LOGFS --fsoptions="nodev,noexec,nosuid"
logvol /var/log/audit --fstype="ext4" --size=1024 --name=lvvarlogaudit --vgname=vgroot --label=AUDITFS --fsoptions="nodev,noexec,nosuid"
### Set system Purpose for Red Hat Cloud
syspurpose --role="Red Hat Enterprise Linux Server" --sla="Self-Support" --usage="Development/Test"
### Boot with DHCP
network --bootproto=dhcp
### Skip grpahical install
skipx
firstboot --disable
### Enable SELinux
selinux --enforcing
### Enable firewall but allow SSH
firewall --enabled --ssh
### Use SSSD for primary system authentication
auth --passalgo=sha512 --useshadow
### Ensure NetworkManager and SSHD are started
services --enabled=NetworkManager,sshd
### Reboot after Installation
reboot
### Configure SCAP profile - Optional
#%addon com_redhat_oscap
#content-type = scap-security-guide
#profile = xccdf_org.ssgproject.content_profile_ospp
#%end
### Post install script to enable EPEL, install open-vm-tools, and configure sudo access for build user. 
%post --interpreter=/bin/bash
dnf install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-9.noarch.rpm
dnf makecache
dnf install -y sudo open-vm-tools python3
echo "${ssh_user} ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/${ssh_user}
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
%packages
@^minimal-environment
kexec-tools
%end
### Reboot after the installation is complete.
### --eject attempt to eject the media before rebooting.
reboot --eject
